doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}
        .cards 
            each hero in data
                .card(class= `${hero.properties.class}`) 
                    div 
                        h2.card__name #{hero.properties.name} - #{hero.properties.class}
                        p.card__damage Damage: #{hero.properties.damage}
                        p.card__firing_rate Firing Rate: #{hero.properties.firing_rate}
                        p.card_dps DPS: #{hero.properties.dps}
                        p.card__health Health: #{hero.properties.health}
                        p.card__ultimate Ultimate: #{hero.properties.ultimate}
                        br
                        button Edit
